{{extend 'layout.html'}}
<div class="row">
  <div class="col-md-2">Genero <form name="link">
  <select class="form-control" name="menu" onchange="location.href=this.options[this.selectedIndex].value" name="elige" size="1">
  <option value="http://www.asos.com/es/hombre/camisas/cat/?cid=3602&ctaref=shop%7cshirts%7cmw_hp_categorytray">Hombre</option>
  <option value="hhttps://www.dafiti.com.ar/femenino/indumentaria/">Mujer</option>
  <option value="https://www.dafiti.com.ar/infantil/indumentaria/">Niños</option>
  </select></form></div>

  <div class="col-md-2">Talle <select class="form-control">
  <option>S</option>
  <option>M</option>
  <option>L</option>
  <option>XL</option>
  <option>XXL</option>
    </select></div>
  <div class="col-md-2">Precio <select class="form-control">
  <option>Hasta $200</option>
  <option>$200 a $300</option>
  <option>mas de $300</option>

</select></div>
  <div class="col-md-2">Marca <select class="form-control">
  <option>Adidas</option>
  <option>Nike</option>
  <option>Puma</option>
  <option>Levi's</option>
  <option>Lacoste</option>
</select> </div>
  <div class="col-md-2">Color <select class="form-control">
  <option>Amarillo</option>
  <option>Rojo</option>
  <option>Verde</option>
  <option>Turquesa</option>
  <option>Azul</option>
</select></div>
   <!-- <div class="col-md-2"></div><img src="http://127.0.0.1:8000/adminclothes/static/images/carrocompra.png"WIDTH=30 HEIGHT=30 alt="MENS">
</div> -->

<a mp-mode="dftl" href="https://www.mercadopago.com/mla/checkout/start?pref_id=277719445-c86a8b0c-cf4a-41ae-a469-58e852744a8b" name="MP-payButton" class='blue-ar-l-sq-arall'>Pagar</a>
<script type="text/javascript">
(function(){function $MPC_load(){window.$MPC_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;s.src = document.location.protocol+"//secure.mlstatic.com/mptools/render.js";var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPC_loaded = true;})();}window.$MPC_loaded !== true ? (window.attachEvent ?window.attachEvent('onload', $MPC_load) : window.addEventListener('load', $MPC_load, false)) : null;})();
</script>
    
<hr>
<div class="row">
      <div class=" col-md-3"> <img src="http://127.0.0.1:8000/adminclothes/static/images/camisa1.jpg"WIDTH=220 HEIGHT=240 alt="MENS" class="img-thumbnail">

         <P ALIGN=center> Camisa  <br> <del>$250</del> $200</P>


          <center><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/indumentaria/detalle_venta'" type="button" value="Agregar al carrito" name="boton"></center>  
          </div>

      <div class=" col-md-3"> <img src="http://127.0.0.1:8000/adminclothes/static/images/camisa2.jpg"WIDTH=220 HEIGHT=240 alt="MENS"class="img-thumbnail"><P ALIGN=center>Camisa con dibujos<br><del>$270</del> $220</P>


          <center><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/indumentaria/detalle_venta'" type="button" value="Agregar al carrito" name="boton"></center>
          </div>
      <div class=" col-md-3"> <img src="http://127.0.0.1:8000/adminclothes/static/images/camisa3.jpg"WIDTH=220 HEIGHT=240 alt="MENS"class="img-thumbnail"><P ALIGN=center>Camisa violeta<br><del>$300</del> $250</P>


            <center><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/indumentaria/detalle_venta'" type="button" value="Agregar al carrito" name="boton"></center>
         </div>
     <div class=" col-md-3"> <img src="http://127.0.0.1:8000/adminclothes/static/images/camisa4.jpg"WIDTH=220 HEIGHT=240 alt="MENS"class="img-thumbnail"><P ALIGN=center>Camisa <br><del>$300</del> $250</P>


            <center><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/indumentaria/detalle_venta'" type="button" value="Agregar al carrito" name="boton"></center>
         </div>

</div>
