{{extend 'layout.html'}}
<div class="row">
      <div class="col-md-4"><div class=" col-md-4"><center> <img src="http://127.0.0.1:8000/adminclothes/static/images/logo_adminclothes.png"WIDTH=320 HEIGHT=200 alt="MENS" </center></div></div>
  <div class="col-md-4"></div>
  <div class="col-md-4"><h1 align="right">Cupón de pago</h1>
<h4 align="right">N°000 00000001</h4>
<h5 align="right">fecha 12/06/2017</h5></div>
</div>
<div class="row">
  <div class="col-md-4">Cuit 30-71049719-8
      <br>Direccion: Puerto argentino 4238
      <br>Tel.:0220-492-4628</div>
  <div class="col-md-5"></div>
  <div class="col-md-3"><b>Datos del Cliente</b>
      <br>Nombre y Apellido: Iván Zavala
      <br>Domicilio: Alsina 1175
      <br>Localidad: Pontevedra
      <br>Provincia: Buenos Aires</div>
</div>
<h3>Detalles  de la compra</h3>

<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}
</style>
</head>
<body>


<table>
  <tr>
    <th>Producto</th>
    <th>Precio</th>
    <th>Cantidad</th>
    <th>Sub-total</th>
    <th>Total a Pagar</th>
  </tr>
  <tr>
    <td>Remera blanca adidas</td>
       <td>$200</td>
       <td>1</td>
       <td>$200</td>

    </tr>
    <tr>
    <td>Remera gris nike</td>
       <td>$250</td>
       <td>1</td>
       <td>$450</td>

    </tr>
    <tr>
    <td>Remera rallada levi's</td>
       <td>$270</td>
       <td>1</td>
       <td>$720</td>
       <td><b>$720</b></td>

    </tr>
    </table>
    <div class="row">
        <div class=" col-md-12"><center> <img src="http://127.0.0.1:8000/adminclothes/static/images/barras.png"WIDTH=600 HEIGHT=100 alt="MENS" </center></div></div>
