{{extend 'layout.html'}}
<center><h2>Datos de Facturacion y envio</h2></center>
<form>


<div class="row">
  <div class="col-md-3">

    <label for="exampleInputdireccion"><h4> Direccion</h4></label>

       <input type="direccion" class="form-control" id="exampleInputdireccion" placeholder="Direccion de la calle">
      </div>


      <div class="col-md-3">
          <label><h4>Envio o retiro por sucursal</h4></label>
              <select class="form-control">
              <option>Envio</option>
              <option>Retiro por sucursal</option>
      </select>
      </div>
        </div>
<div class="row">
  <div class="col-md-3">

    <label for="exampleInputdireccion"><h4> Localidad</h4></label>

    <input type="localidad" class="form-control" id="exampleInputlocalidad" placeholder="Localidad">
  </div>
<div class="row">
  <div class="col-md-3">
     <label for="exampleInputdireccion"><h4> Provincia</h4></label>

    <select class="form-control">
  <option>Buenos aires</option>
  <option>Cordoba</option>
  <option>San luis</option>
  <option>Santa fe</option>
  <option>Entre rios</option>
      </select>
      </div>
  </div>

  <div class="col-md-3">

    <label for="exampleInputdireccion"><h4> Codigo postal</h4></label>

    <input type="codigopostal" class="form-control" id="exampleInputcodigopostal" placeholder="codigo postal">
  </div>
    </div>
<div class="row">
  <div class="col-md-2"><div class="checkbox"><label><input type="checkbox"> Pago en entrega</label></div>
    </div>

    <div class="col-md-2"> <div class="checkbox"><label><input type="checkbox"> Pago facil</label></div></div>
     <div class="col-md-2"><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/indumentaria/fin_compra'" type="button" value="Finalizar" name="boton">
    </div>
