{{extend 'layout.html'}}
{{extend 'layout.html'}}
<div class="row">
    <div class="col-md-2">Genero<select class="form-control">
  <option>Hombre</option>
  <option>Mujer</option>
  <option>Niños</option>
    </select></div>

  <div class="col-md-2">Talle <select class="form-control">
  <option>1</option>
  <option>2</option>
  <option>3</option>
  <option>4</option>
  <option>5</option>
    </select></div>
  <div class="col-md-2">Precio <select class="form-control">
  <option>Hasta $200</option>
  <option>$200 a $300</option>
  <option>mas de $300</option>

</select></div>
  <div class="col-md-2">Marca <select class="form-control">
  <option>Adidas</option>
  <option>Nike</option>
  <option>Puma</option>
  <option>Levi's</option>
  <option>Lacoste</option>
</select> </div>
  <div class="col-md-2">Color <select class="form-control">
  <option>Amarillo</option>
  <option>Rojo</option>
  <option>Verde</option>
  <option>Turquesa</option>
  <option>Azul</option>
</select></div>
    <div class="col-md-2"></div><img src="http://127.0.0.1:8000/adminclothes/static/images/carrocompra.png"WIDTH=30 HEIGHT=30 alt="MENS">

</div>

<hr>
<div class="row">
      <div class=" col-md-3"> <img src="http://127.0.0.1:8000/adminclothes/static/images/jean1.jpg"WIDTH=220 HEIGHT=240 alt="MENS" class="img-thumbnail">

         <P ALIGN=center> jean <br> <del>$250</del> $200</P>


          <center><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/indumentaria/detalle_venta'" type="button" value="Agregar al carrito" name="boton"></center>

          </div>

      <div class=" col-md-3"> <img src="http://127.0.0.1:8000/adminclothes/static/images/jean2.jpg"WIDTH=220 HEIGHT=240 alt="MENS"class="img-thumbnail"><P ALIGN=center>jean<br><del>$270</del> $220</P>


          <center><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/indumentaria/detalle_venta'" type="button" value="Agregar al carrito" name="boton"></center>
          </div>
      <div class=" col-md-3"> <img src="http://127.0.0.1:8000/adminclothes/static/images/jean3.jpg"WIDTH=220 HEIGHT=240 alt="MENS"class="img-thumbnail"><P ALIGN=center>jean<br><del>$300</del> $250</P>


            <center><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/indumentaria/detalle_venta'" type="button" value="Agregar al carrito" name="boton"></center>
         </div>
     <div class=" col-md-3"> <img src="http://127.0.0.1:8000/adminclothes/static/images/jean4.jpg"WIDTH=220 HEIGHT=240 alt="MENS"class="img-thumbnail"><P ALIGN=center>jean <br><del>$300</del> $250</P>


            <center><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/indumentaria/detalle_venta'" type="button" value="Agregar al carrito" name="boton"></center>
         </div>

</div>
