{{extend 'layout.html'}}
<html>


<body style="background-color: Turquoise;">


<center><h1>EMPRESA</h1></center>
<h4>


2017, año en el que nacío ADMINCLOTHES, se basó todo nuestro trabajo en poder brindar, dentro del comercio de la indumentaria, una virtud<br> fundamental para el crecimiento y el desarrollo de nuestra empresa: la CONFIANZA.<br>

Nos sentimos orgullosos de quiénes somos y qué representamos para nuestros clientes y proveedores, conjunción fundamental para apuntar a ser líderes en el mercado. Nuestro equipo está integrado por personas especializadas en el área, formando una gran familia donde los valores humanos son esenciales para una excelente relación entre quienes conformamos la empresa y usted.

Con la obligación de seguir creciendo en nuestra calidad de atención  hacia nuestros clientes, pilares fundamentales para nosotros.</h4>
</body>




    </html>
