{{extend 'layout.html'}}
<h1>REGISTRAR FACTURA</h1>


<form class="form-horizontal" action="{{=URL(c="prodveedor", f="detalle_proveedor")}}" enctype="multipart/form-data" method="POST">
<div class="form-group">
          <label for="campo_proveedor" class="col-sm-1 control-label">PROVEEDOR</label>
            <div class="col-sm-2">
                <select class="form-control" id="campo_proveedor" name="id_proveedor">
                    <option>Sergio</option>
                    <option>Pepe</option>
                    <option>Mario</option>
                   </select>



            </div>
            <label class="col-sm-2 control-label">N° DE COMPROBANTE</label>
            <div class="col-sm-2">
                <input type="number" class="form-control" name="numero_comprobante" id="campo_numero_comprobante">

            </div>
    </div>
    <div class="form-group">
            <label for="campo_fecha" class="col-sm-1 control-label">FECHA DE FACTURA</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" name="fecha" id="campo_fecha" placeholder="Data input">
            </div>
            <label for="campo_tipo" class="col-sm-2 control-label">TIPO DE PAGO</label>
            <div class="col-sm-2">
               <select class="form-control" name="forma_pago" id="campo_tipo">
                  <option>Efectivo</option>
                  <option>Credito</option>
                </select>
            </div>
    </div>
<form class="form-horizontal" >
<div class="form-group">
          <label for="campo_producto" class="col-sm-1 control-label">PRODUCTO</label>
            <div class="col-sm-2">
                <select class="form-control" id="campo_producto" name="id_producto">
                  <option>Remeras</option>
                  <option>Camisas</option>
                  <option>Jeans</option>
                  <option>Bermudas y Shorts</option>
                  <option>Abrigos</option>
                </select>
            </div>
       <label class="col-sm-2 control-label">CANTIDAD</label>
           <div class="col-sm-2">
              <input type="number" class="form-control" name="numero_comprobante" id="campo_numero_comprobante">
           </div>
</div>
<form class="form-horizontal">
    <div class="form-group">
     <div class="col-md-3">
     <input type="button" name="boton" class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/compras/detalle_producto'" value="CONFIRMAR">
        </div>
    </div>
</FORM>
<FORM class="form-horizontal">
    <div class="form-group">
        <div class="col-md-3">
          <input type="button" name="boton" class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/compras/abm_proveedor'" value="NUEVO PROVEEDOR">
        </div>
    </div>
</FORM>
