{{extend 'layout.html'}}
<h1>DETALLE DE COMPRA</h1>
<form class="form-horizontal" action="{{=URL(c="producto", f="confirmar")}}" enctype="multipart/form-data" method="POST">
    <div class="form-group">
        <div class="col-md-10">
          <table class="table table-hover">
          <caption>PRODUCTOS A COMPRAR</caption>
          <thead>
            <tr>
                <th>#</th>
                <th class=>Producto</th>
                <th>Cantidad</th>
                <th>Precio Unitario</th>
                <th>SubTotal</th>
                <th></th>
                <th>Opciones</th>
            </tr>
          </thead>
        <tbody>

            <tr>
                <th scope="row">01</th>
                <td >jeans</td>
                <td align="center">2</td>
                <td align="center">500</td>
                <td align="center">1000</td>
                <td aling="center"></td>
                <td><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/compras/detalle_producto'" type="button" value="Modificar" name="boton"><input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/compras/detalle_producto'" type="button" value="eliminar" name="boton"></td> 
                
            {{pass}}
        </tbody>
        </table>
        </div>
        </div>
    <div class="form-group">
        <div class="col-md-3">
        <table class="table table-bordered">
        <tbody>
            <tr> <th scope="row">Total $:1500</th>
                 <td></td>
            </tr>
        </tbody>
        </table>
        </div>
    </div>
<div class="form-group">
        <div class="col-md-1">
           <input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/compras/abm_producto'" type="button" value="Cancelar compra" name="boton">
</div>  </div>
    <div class="form-group">
        <div class="col-md-1">
           <input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/compras/detalle_producto'" type="button" value="Finalizar compra" name="boton">
        </div>
     </div>
</form>
