{{extend 'layout.html'}}
<h1>PRODUCTOS</h1>
<div class="row">
<div class="col-md-3"><form>
<input type="text" value="Buscar..." onfocus="if (this.value == 'Buscar...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Buscar...';}" /> 
   <input class="btn btn-default" type="button" value="Buscar" name="boton" /> </form></div>
<div class="col-md-3"> <input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/stock/alta_producto'" type="button" value="nuevo" name="boton">
</div>
</div>
<br>
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover{background-color:#f5f5f5}
</style>
</head>
<body>


<table>
  <tr>
    <th>Id</th>
    <th>producto</th>
    <th>descripcion</th>
    <th>stock</th>
    <th>precio de compra</th>
    <th>precio de venta</th>
  </tr>
  <tr>
    <td>1</td>
      <td>remera</td>
      <td>remera de color roja</td>
       <td>130</td>
       <td>150</td>
       <td>200 <input class="btn btn-default" onclick="location.href='http://127.0.0.1:8000/adminclothes/stock/abm_producto'" type="button" value="Modificar" name="boton"><input class="btn btn-default" onclick="http://127.0.0.1:8000/adminclothes/stock/abm_producto'" type="button" value="eliminar" name="boton"></td>

    </tr>
    <tr>
    <td>2</td>
       <td>camisa</td>
       <td>camisa de color azul</td>
       <td>100</td>
       <td>350 </td>
       <td>450</td>

    </tr>
    <tr>
    <td>3</td>
       <td>abrigo</td>
       <td>abrigo de lana color negro</td>
       <td>125</td>
       <td>250</td>
       <td>350</td>

    </tr>
    </table>
